@page "/"
@page "/{Page:int}"

@using Microsoft.AspNetCore.Authorization
@using Calculator.BaseRepository
@using Calculator.Model
@using Task = System.Threading.Tasks.Task
@using DevExpress.Blazor
@using System.Collections.ObjectModel

@attribute [Authorize]

@*<ListControl Page="Page" FetchEmployeeAsync="(repository, employees) => FetchAsync(repository, employees)" />*@

    <DxDataGrid Data="@employees">
        <DxDataGridColumn Field="@nameof(Employee.FirstName)" />
        <DxDataGridColumn Field="@nameof(Employee.LastName)" />
        <DxDataGridColumn Field="@nameof(Employee.UserName)" />
        <DxDataGridSpinEditColumn Field="@nameof(Employee.Salary)" Caption="Gehalt" TextAlignment="@DataGridTextAlign.Left" Width="100px" />
        <DxDataGridColumn Field="@nameof(Employee.Profession)" />
    </DxDataGrid>

<p>Diese Ansicht ist nur für die erste alpha version so gestaltet um das wesentliche zu testen.</p>
<br/>
<p>Hier wird das Dashboard zukünftig sein.</p>

@code
{
    /// <summary>
    /// Allow route-based navigation
    /// </summary>
    [Parameter]
    public int Page { get; set; }

    /// <summary>
    /// Pass in the actual work so this can be reused between client and server
    /// </summary>
    /// <param name="repository">The <see cref="IBasicRepository{Employee}"/> to use.</param>
    /// <param name="employees">How to handle the returned <see cref="ICollection{Employee}"/>.</param>
    /// <returns>A <see cref="System.Threading.Tasks.Task"/></returns>
    public async Task FetchAsync(IBasicRepository<Employee> repository, Action<ICollection<Employee>> employees)
    {
        employees((await repository.GetListAsync()).ToList());
    }

    // for devexpress grid test purpose
    public Employee Employee { get; set; }

    readonly ObservableCollection<Employee> employees = new ObservableCollection<Employee>();
}
